.container {
  width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  border: solid red 1px;
  @media (max-width: 1024px) and (min-width: 992px) {
    width: 880px;
  }
  @media(max-width: 991px) and (min-width: 768px) {
    width: 730px;
  }
  @media(max-width: 767px) and (min-width: 576px) {
    width: 520px;
  }
  @media(max-width: 575px) {
    width: 100%;
  }


}

.posit-rel {
  position: relative;
}

.header {
  margin: 0 -200px;
  position: relative;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  z-index: 4;
  @media(max-width: 1024px) {
    display: none;
  }
}


.header__logo {
  a {
    font-size: 35px;
    padding-right: 20px;
  }
}


.header__nav__link {
  position: relative;
  padding: 20px;

  &:hover {
    &:before,
    &:after {
      left: calc(20px);
      width: calc(100% - 40px);
    }
  }

  &:before,
  &:after {
    bottom: 17px;
    position: absolute;
    content: '';
    background-color: #2f2f2f;
    height: 1px;
    transition: width .5s, left .5s;
    width: calc(0% - 40px);
    left: calc(50% + 20px);
    right: 0;
  }
}


.header__nav--sec {
  .header__nav__link {
    color: white;

    &:after,
    &:before {
      background-color: #fff;
    }
  }
}

.inwrap {
  margin: 0 -200px -150px -200px;
  display: flex;
  justify-content: center;
  position: relative;
  top: -150px;
  z-index: 3;
  flex-wrap: wrap;

  @media (max-width: 1024px) {
    margin: 0;
    top: 0;
  }

  .inwrap__left {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .inwrap__right {
    justify-content: center;
    width: 740px;
    @media (max-width: 1024px) {
      width: 100%;
    }
  }
}


.intro__headline {
  font-size: 55px;
  line-height: 65px;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

.intro {
  max-width: 560px;
  padding-right: 30px;

  .intro__text {
    margin-bottom: 45px;
    line-height: 1.5rem;
    font-size: 18px;
  }


  .intro__line {
    margin: 40px 0 20px 0;
    border-bottom: 1px solid #ececec
  }

  .intro__footer {
    font-size: 14px;
    line-height: 15px;
    padding: 20px 0;
    margin-bottom: 30px;
  }
}


.logos {
  display: flex;

  .logos__link {
    padding: 40px 50px 45px 0;
    border-right: solid 1px #ccc;
    margin-right: 20px;

    .logo__link__big {
      font-weight: bold;
      font-size: 25px;
    }

    .logo__link__small {
      font-size: 18px;
    }
  }

  .logos__items {
    display: flex;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;

    .logos__item {
      width: calc(100% / 6);
      padding: 25px;
      @media (max-width: 1024px) {
        width: 33.33%;
      }

      img {
        height: 35px;
      }
    }
  }
}

.howit {
  text-align: center;

  &.howit-purple {


    .algorithm {
      color: #b69db1;
      font-size: 18px;
      font-weight: bold;
    }

    h1 {
      font-size: 44px;
      color: white;
      margin-bottom: 50px;
      padding: 0 180px;
    }
  }

  .icon-sml {
    padding-bottom: 30px;
    text-align: center;
    display: flex;
    justify-content: center;

    svg {
      width: 50px;
    }
  }

  .algorithm {
    line-height: 26px;

    color: #9d9d9d;
    font-size: 18px;
    letter-spacing: -.6px;
    margin-bottom: 10px;
  }

  h1 {
    font-size: 45px;
    color: #2f2f2f;
    margin-bottom: 20px;
    padding: 0 180px;
  }
}


.steps {
  display: flex;
  margin: 100px 0;
  flex-wrap: wrap;

  .steps__img {
    min-width: 580px;
    display: block;
    @media(max-width: 1024px) {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .steps__img__img {
      &.step__img__img-active {
        display: block;
      }

      display: none;
      max-width: 520px;
    }
  }

  .steps__points {
    flex: 1;

    .step {
      display: flex;
      padding: 5px 0;

      &.step--active {
        .step__box {
          box-shadow: 0 -10px 34px 0 rgb(0 0 0 / 6%);
        }
      }

      &:hover,
      &.step--active {
        cursor: pointer;

        .step__number {
          background-color: #fcf1d0;
        }
      }

      .step__number {
        border-radius: 25px;
        background-color: white;
        margin-right: 30px;
        width: 70px;
        height: 70px;
        min-width: 70px;
        min-height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.6s, tranform 0.6s;

        &.step__number__sec {

          .step__number__box {
            background: #bd1e51;
            border-top: 2px solid #a90c3f;
            border-right: 2px solid #a90c3f;

          }
        }

        &.step__number__thr {
          .step__number__box {
            background: #68255b;
            border-top: 2px solid #490b3d;
            border-right: 2px solid #490b3d;

          }
        }


        .step__number__box {
          font-size: 25px;
          font-weight: bold;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 58px;
          height: 58px;
          min-width: 58px;
          min-height: 58px;
          background: #f1b814;
          border-radius: 20px;
          border-top: 2px solid #eca00f;
          border-right: 2px solid #eca00f;

          span {
            color: white;
          }
        }
      }


      .step__box {
        background-color: #fff;
        border-radius: 18px;
        padding: 10px 30px 20px 30px;
        transition: box-shadow 0.6s;

        .step__headline {
          font-size: 24px;
          font-weight: bold;
          color: #2f2f2f;
          margin-bottom: 12px;
          transition: color 0.3s;
          line-height: 24px;
        }

        .step__text {
          line-height: 30px;
        }
      }
    }
  }
}

.carousel {

  .carousel__pic {
    position: relative;
    border-radius: 0 0 18px 80px;
    overflow: hidden;

    &:before,
    &:after {
      width: 100%;
      height: 30%;
      position: absolute;
      content: '';
      background: linear-gradient(
                      180deg, #1c1a1a, transparent);
      opacity: .25;
      top: 0;
      right: 0;
    }
  }

}

.carousel__switcher__container {
  position: relative;
  bottom: 220px;

  .carousel__switch {
    display: flex;

    .carousel__switch__item {

      .carousel__switch__item-flex {
        margin: 0 8px;
        cursor: pointer;
        height: 140px;
        border-radius: 18px;
        display: flex;
        background-color: #fff;
        align-items: center;
        min-width: 310px;

        .carousel__switch__img {
          padding: 25px;

          svg {
            width: 58px;
            height: 58px;
          }
        }

        .carousel__switch__content {
          .carousel__switch__content__big-text {
            font-weight: 700;
            font-size: 40px;
            color: #2f2f2f;
            letter-spacing: -0.67px;
            line-height: 29px;
            margin-bottom: 10px;
          }

          .carousel__switch__content__small-text {
            font-size: 14px;
            color: #696969;
            letter-spacing: -0.3px;
          }
        }
      }
    }
  }
}


.gray__spacing {
  position: relative;

  &:after {
    z-index: -1;

    content: "";
    position: absolute;
    height: 180px;
    background: #f9f9f9;
    bottom: 0;
    left: 0;
    right: 0;
  }
}


.csplit {
  flex-wrap: wrap;
  display: flex;

  .csplit__left {
    flex: 1;
    @media (max-width: 1024px) {
      text-align: center;
    }

    .csplit__left-icon {
      svg {
        width: 45px;
        height: 58px;
      }

      padding-bottom: 30px;

    }

    .csplit__left-tit {
      font-size: 45px;
      line-height: 60px;
      color: #2f2f2f;
      letter-spacing: -1.55px;
      padding-right: 60px;
    }

    .csplit__left-text {
      margin-bottom: 30px;
    }

    .button--story {
      padding: 20px 0;
    }
  }

  .csplit__right {
    justify-content: left;
    width: 802px;
    margin-right: -15px;
    @media (max-width: 1024px) {
      width: 100%;
    }

    .cards {
      display: flex;
    }
  }
}

.card {
  position: relative;
  border-radius: 18px;
  max-width: 372px;
  flex-basis: calc(50% - 30px);
  margin: 15px;
  overflow: hidden;
  margin-bottom: 30px;

  &:hover {
    .card__img-wrapper {
      img {
        transform: scale(1.03);
      }
    }
  }

  .card__img-wrapper {
    img {
      transition: all linear 0.25s;
    }
  }

  .card__content {
    position: absolute;
    text-align: left;
    z-index: 2;
    width: calc(100% - 30px);
    bottom: 0;
    padding: 40px 20px 40px 35px;

    .card__content__number {
      font-weight: 700;
      font-size: 40px;
      color: #fff;
      letter-spacing: -.67px;
      line-height: 29px;
      margin-bottom: 10px;

    }

    .card__content__text {
      font-size: 18px;
      color: #fff;
      letter-spacing: -.3px;
      line-height: 29px;
    }
  }

  .card__href {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
  }
}

.bgc-gray {
  padding: 50px 0 100px;
  background-color: #f9f9f9;

}

.boxes {
  display: flex;
  margin: 70px -15px;

  .box {
    position: relative;
    flex-basis: calc(50% - 30px);
    margin-left: 15px;
    margin-right: 15px;
    background: #fff;
    box-shadow: 0 0 1px 0 rgb(0 0 0 / 6%);
    border-radius: 18px;
    text-align: center;
    padding: 60px 30px;
    transition: box-shadow .3s;

    &:hover {
      box-shadow: 0 -10px 30px 0 rgb(0 0 0 / 6%);

      .box__img {
        svg {
          transform: scale(1.05);
        }
      }

      .box__link {
        i {
          transform: translateX(20px);
        }
      }
    }

    .box__img {
      svg {
        transition: all linear .25s;
        width: 50px;
        height: 68px;
      }

      text-align: center;
      margin-bottom: 25px;
    }

    .box__content {
      max-width: 470px;
      margin: 0 auto;

      .box__title {
        font-size: 18px;
        line-height: 29px;
        font-weight: 700;
        color: #2f2f2f;
        margin-bottom: 15px;
      }

      .box__text {
        margin-bottom: 20px;
      }

      .box__link {
        font-size: 16px;
        color: var(--perpure-color);
        letter-spacing: -.3px;
        font-weight: 700;

        &.box__link-pink {
          color: var(--pink-color);
        }

        i {
          transition: all linear 0.25s;
          margin-left: 10px;
          font-size: 10px;
        }
      }
    }

    .box__href {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
    }
  }
}

.cmps {
  display: flex;
  flex-wrap: wrap;

  .cmps__left {
    flex: 1
  }

  .cmps__right {
    display: block;
    justify-content: left;
    width: 440px;
    @media(max-width: 1024px) {
      width: 100%;
    }
  }
}

.cmp {
  display: flex;

  .cmp__img {
    margin-right: 30px;

    svg {
      width: 58px;
    }
  }

  .cmp__content {
    padding-right: 50px;
    line-height: 1.8;

    .cmp__headline {

      margin: 0;
      font-size: 18px;
      color: #2f2f2f;
      font-weight: 700;
      letter-spacing: -.6px;
    }

    .cmp__text {
      letter-spacing: -.55px;
    }

    .button--story {
      padding: 20px 0;
    }
  }
}

.cmp__border {
  position: relative;

  &:after {
    content: "";
    display: block;
    border: 2px dashed #dcdcdc;
    border-radius: 18px;
    position: absolute;
    top: 20px;
    left: 20px;
    bottom: -20px;
    right: -20px;
    z-index: 1;
  }
}

.cmp--sec {
  align-items: center;
  background: #fff;
  box-shadow: 10px 10px 18px 0 rgb(96 96 96 / 12%);
  border-radius: 18px;
  padding: 50px;
  z-index: 2;
  position: relative;


  .cmp__content {
    padding: 0;
  }
}

.bgc-light-purple {
  background-color: #501144;
  padding: 70px 0 100px;
}

.divider {
  display: flex;
  background-color: #ffffff;

  &.divider--gray {
    background-color: #f9f9f9;
  }

  &.divider--purple {
    background-color: #490b3d;

    .divider__left,
    .divider__right {
      background: #501144;

    }
  }

  .divider__left,
  .divider__right {
    position: relative;
    display: block;
    background: #490b3d;
    height: 70px;
    width: 50%;
  }

  .divider__left {
    border-top-right-radius: 70px;
  }

  .divider__right {
    border-top-left-radius: 70px;
  }
}

.bgc-purple {
  background-color: #490b3d;
  padding: 50px 0 80px;
}

.service {
  display: flex;
  flex-wrap: wrap;

  .service__right {
    display: block;
    justify-content: left;
    width: 800px;
    @media (max-width: 1024px) {
      width: 100%;
    }
  }
}


.service__left {
  color: #b69db1;
  padding-right: 60px;
  flex: 1;
  @media(max-width: 1024px) {
    text-align: center;
    padding: 0;
  }

  .service__left-icon {
    margin-bottom: 30px;

    svg {
      width: 45px;
    }
  }

  .service__left-title {
    font-size: 18px;
    line-height: 26px;
    color: #9d9d9d;
    letter-spacing: -.6px;
    margin-bottom: 8px;
  }

  .intro__headline {
    font-size: 45px;
    line-height: 60px;
    color: #2f2f2f;
    letter-spacing: -1.55px;
    margin-bottom: 20px;

  }

  .service__left-texts {
    font-size: 15px;
    line-height: 1.8;
    margin-bottom: 30px;

  }
}

.service__right {

  .form {
    position: relative;
    width: 100%;
    background: #501144;
    border-radius: 21px;
    padding: 75px;
  }

  .form__row {
    display: flex;

    .hlabel {
      position: absolute;
      transform: translateX(-9999px);
    }

    textarea,
    input {
      background-color: #470f3d;
      border-radius: 8px;
      font-weight: 700;
      color: #ffffff;
      letter-spacing: -0.5px;
      padding: 20px;
      margin: 5px;
      width: 100%;
      font-size: 16px;
      border: none;
      outline: none;

      &::placeholder {
        font-size: 16px;
        letter-spacing: 0.5px;
        color: #9d9d9d;
      }

      &:focus,
      &:hover {
        background: #3f0935;
      }
    }

    textarea {
      font-size: 18px;
      resize: none;
      height: 145px;

      &::placeholder {
        margin: 0;
        padding: 0;
        font-size: 18px;
        letter-spacing: 0.5px;
        color: #9d9d9d;
      }
    }

    .form-alert {
      display: none;
      width: 100%;
      border-radius: 18px;
      font-weight: 700;
      letter-spacing: -0.3px;
      text-decoration: none;
      color: white;
      background-color: var(--pink-color);
      padding: 20px;
      margin: 5px;
      margin-bottom: -5px;


      &.form-alert--false,
      &.form-alert--ok {
        display: block;
      }

      &.form-alert--ok {
        background-color: var(--yellow-color);
      }
    }

  }
}


.clabel {
  display: flex;
  cursor: pointer;
  align-items: center;
  user-select: none;
}

.clabel__control {
  display: none;

  &:checked {
    & ~ .clabel__check {
      background-color: var(--pink-color);

      svg {
        fill: #f9f9f9;
      }
    }
  }

}

.clabel__check {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3f0935;;
  width: 28px;
  height: 28px;
  min-width: 28px;
  min-height: 28px;
  border-radius: 28px;
  margin-right: 18px;

  svg {
    width: 12px;
    fill: #696969;
  }
}

.clabel__text {
  font-size: 12px;
  color: #b69db1;
  letter-spacing: -.2px;
  line-height: 17px;
  width: 300px;
  @media (max-width: 1024px) {
    width: 250px;
  }
}

.form__row--last {
  margin: 15px 5px 0;
  justify-content: space-between;

  .button--demo {
    border-radius: 30px 0px 30px 30px;
    font-size: 16px;

    i {
      transform: rotate(30deg);
    }

    &:hover {
      i {
        transform: translateX(10px);
      }
    }
  }
}

.decoration {
  position: relative;


}

.decoration__content {
  line-height: 1.8;
  text-align: center;

  .decoration__content-1 {
    font-size: 18px;
    line-height: 26px;
    color: #9d9d9d;
    letter-spacing: -.6px;
    margin-bottom: 8px;
    font-weight: 700;
  }

  .decoration__content-2 {
    font-size: 45px;
    line-height: 60px;
    letter-spacing: -1.55px;
    margin: 0 auto;
    margin-bottom: 20px;
    color: white;
  }

  .decoration__content-3 {
    margin: 0 auto;
    margin-bottom: 30px;
    color: #b69db1;
  }


  .button--demo {
    i {
      transition: all linear 0.25s;

      margin-right: 10px;
    }

    border: solid 2px #bd1e51;
    background-color: #501144;;
    padding: 15px 30px;
    border-radius: 30px 3px 30px 30px;

    &:hover {
      background-color: #bd1e51;;

      i {
        transform: scale(1.5) rotate(30deg);
      }
    }
  }
}

.decoration__position {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  z-index: 1;
}

.decoration__position-1 {
  top: -30px;
  left: 20%;

  .decoration__point {
    display: block;
    background: #661f58;
    transform: rotate(
                    45deg
    ) scale(1);
    width: 21px;
    height: 21px;
    transition: background 2s, transform 1s;
  }

  &:hover {
    .decoration__point {
      background: #f1b814;
      transform: rotate(
                      60deg
      ) scale(1.2);
    }
  }
}

.decoration__position-2 {
  top: -60px;
  right: 30%;

  .decoration__point {
    display: block;
    background: yellow;
    transform: rotate(
                    45deg
    ) scale(1);
    width: 18px;
    height: 18px;
    transition: background 2s, transform 1s;
  }

  &:hover {
    .decoration__point {
      background: #bd1e51;
      transform: rotate(
                      60deg
      ) scale(1.2);
    }
  }
}

.decoration__position-3 {
  top: 0;
  right: 15%;

  .decoration__point {
    border-radius: 50%;
    display: block;
    background: #bd1e51;
    transform: rotate(
                    45deg
    ) scale(1);
    width: 18px;
    height: 18px;
    transition: background 2s, transform 1s;
  }

  &:hover {
    .decoration__point {
      background: #661f58;
      transform: rotate(
                      60deg
      ) scale(1.2);
    }
  }
}

.decoration__position-4 {
  bottom: -40px;
  left: 25%;

  .decoration__point {
    border-radius: 50%;
    display: block;
    background: yellow;
    transform: rotate(
                    45deg
    ) scale(1);
    width: 18px;
    height: 18px;
    transition: background 2s, transform 1s;
  }

  &:hover {
    .decoration__point {
      background: #661f58;
      transform: rotate(
                      60deg
      ) scale(1.2);
    }
  }
}

.decoration__position-5 {
  bottom: -45px;
  right: 25%;

  .decoration__point {
    display: block;
    background: #661f58;
    transform: rotate(
                    45deg
    ) scale(1);
    width: 18px;
    height: 18px;
    transition: background 2s, transform 1s;
  }

  &:hover {
    .decoration__point {
      background: #bd1e51;
      transform: rotate(
                      60deg
      ) scale(1.2);
    }
  }
}

.decoration__position-6 {
  bottom: 60px;
  left: 10%;

  .decoration__point {
    display: block;
    background: #bd1e51;
    transform: rotate(
                    45deg
    ) scale(1);
    width: 18px;
    height: 18px;
    transition: background 2s, transform 1s;
  }

  &:hover {
    .decoration__point {
      background: #661f58;
      transform: rotate(
                      60deg
      ) scale(1.2);
    }
  }
}

.image {
  display: flex;
  flex-wrap: wrap;


  :first-child {
    .image__content {
      border-right: 1px solid #e5e5e5
    }
  }

  .image__main {
    width: 50%;
    position: relative;

    &.image__main-fst:hover,
    &.image__main-sec:hover {
      .image__img {
        img {
          opacity: 0.8;
        }
      }

      .image__content:before {
        height: 10px;
      }
    }

    .image__img {
      background-color: #490b3d;

      img {
        transition: opacity 0.25s;

        opacity: 0.5;
      }
    }

    .image__content {
      display: flex;
      padding: 50px 20px;
      border-bottom: solid 1px #ddd;
      position: relative;
      flex-wrap: wrap;
      @media(max-width: 1024px) {
        padding: 20px;
      }

      &:before {
        bottom: calc(100%);
        left: 0;
        content: "";
        position: absolute;
        z-index: 3;
        width: 100%;
        height: 0;
        transition: height .3s;
        background: #ffffff;
      }

      .image__map {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 35px;
        color: #2f2f2f;


        i {
          margin-right: 20px;
        }

        p {
          letter-spacing: -.6px;
        }

      }

      .image__local {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: -.3px;
        line-height: 30px;
        color: #696969;
        font-size: 17px;
        @media(max-width: 1024px) {

        }
      }
    }

    .image__href {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
    }
  }
}


.footer {
  padding: 100px 0;
  line-height: 1.8;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));


  .footer__col {
    .footer-list {
      padding: 5px 0;
      display: block;

      &:hover {
        text-decoration: underline;
      }
    }

    .footer__box {
      margin-bottom: 50px;

      .footer__headline {
        padding: 10px 0 15px;
        text-transform: uppercase;
        color: #9d9d9d;
        font-size: 12px;
        letter-spacing: 2px;
        display: block;
      }

      .footer__text {
        line-height: 30px;
        color: #2f2f2f;

        a {
          color: #bd1e51;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .footer__logo {
      margin-bottom: 25px;

      svg {
        width: 150px;
        height: 52px;
      }
    }

    .footer__info {
      width: 150px;
      color: #696969;
      margin: 0 30px 30px 0;
    }

    .footer__social {
      .footer__social-link {
        padding: 10px 10px 0;
        margin-right: 20px;
        background-color: #eee;
        border-radius: 12px;

        &.footer__social-link-sec {
          &:hover {
            background-color: blue;

            svg {
              fill: white;
            }
          }
        }

        &:hover {
          background-color: red;

          svg {
            fill: white;
          }
        }

        svg {
          fill: #ccc;
          width: 20px;
          height: 20px;
        }
      }

      display: flex;
    }
  }
}

.end {
  border-top: 1px solid #e5e5e5;
}

.cfooter {
  display: flex;
  align-items: center;

  .cfooter__lang {
    width: 35px;
    height: 35px;
  }

  .cfooter__content {
    flex: 1;
    text-align: center;
    padding-left: 75px;
    font-size: 12px;
    padding-top: 35px;
    padding-bottom: 35px;
    color: #696969;

    a {
      color: #696969;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    .dot {
      position: relative;
      display: inline-block;
      top: -3px;
      width: 2px;
      height: 2px;
      background: #999;
      border-radius: 4px;
      margin: 0 10px;
    }
  }
}

#button {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button::after {
  content: "up";
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#button:hover {
  cursor: pointer;
  background-color: #333;
}

#button:active {
  background-color: #555;
}

#button.show {
  opacity: 1;
  visibility: visible;
}


.b {
  display: grid;
  grid-template-columns: 80px 120px max-content minmax(320px, 1fr);

  .a {
    border: solid blue;
  }
}

